:root {
  background-color: #FFFCF9;
}

.background {
  font-family: Lato;
  position: relative;
  height: auto;
  background-color: #FFFCF9;
  background-size: 60%;
  background-image: url(../icons/DevPointOverflow_LogoOnly_3x_TOM.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 0%;
}

/* .image { 
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: auto;
} */
/* -webkit-filter: grayscale(100%);
     -moz-filter: grayscale(100%);
       -o-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
          filter: grayscale(100%);  */

/* .background::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.07;
} */